.productDetailContainer {
  padding: 80px 15px 15px 15px;
}
.productDetailPrice {
  padding: 15px 0px 0px 0px;
  display: flex;
}
.productCardDetailActualPrice {
  padding: 7px 10px 0px 20px;
  font-size: 18px !important;
  text-decoration: line-through;
}
.productCardDetailDiscountPercent {
  color: green;
  padding: 11px 0px 1px 10px;
  font-weight: 600;
  font-size: 16px;
}
